.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #dfe4ea;
}

.nav {
  width: 100%;
  padding: .8rem 2rem .5rem 2rem;
  background-color: white;
  border: 1px orangered solid;
}

.circle {
  display: inline-flex;
  width: 80px;
  height: 80px;
  margin: 2rem 2rem 0 0 ;
  background-color: #ff7f50;
  align-items: center;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
}

.container1 {
  display: flex;
  border: solid 1px black;
  justify-content: center;
}

.h1 {
  margin-bottom: 0;
}

.formContainer {
  border: solid 1px red;
  width: 40%;
  padding: 0 0 4rem 2rem;
  background-color: whitesmoke;
}

.input {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: .2rem 0 .2rem .2rem;
  color: #222;
}

.input::placeholder {
  color: #a4b0be;
}

.input:hover,
.inputBold:hover {
  border-style: dashed ;
  border-color: #ff7f50;
}

.inputBold {
  background-color: transparent;
  border: none;
  width: 100%;
  padding: .2rem 0 .2rem .2rem;
  margin-top: 1rem;
}

.inputBold::placeholder {
  color: #a4b0be;
  font-size: 20px;
  font-weight: bold;
}

.dragContainer {
  border: solid 1px blue;
  display: flex;
  width: 40%;
  justify-content: center;
  background-color: whitesmoke;
}

.drag {
  border: dashed 2px #ff6348;
  margin-top: 2rem;
  width: 250px;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.drag label {
  min-width: 250px;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  font-weight: bold;
}

.table {
  width: 85%;
  margin: auto;
  background-color: white;
}

.btnPlus {
  background-color: #ff7f50 !important;
  text-align: center;
  cursor: pointer;
}

.btn {
  background-color: transparent;
  border: none;
  width: 100%;
}

.btnDelete {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff7f50;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: none;
}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }
  .logo img {
    filter: invert(0);
  }
}